
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desativar Produto | Delete </title>
</head>
<body>
    <h1>Confirmar Reativação</h1>
    <p>Você tem certeza que deseja reativar o produto <strong>{{ produto.nome }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sim, Reativar</button>
    </form>
    <a href="{% url 'inativo_list' %}">Cancelar</a>
</body>
</html>